@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
	--color-primary: #030014;
	--color-light-100: #cecefb;
	--color-light-200: #a8b5db;
	--color-gray-100: #9ca4ab;
	--color-dark-100: #16112f;

	--breakpoint-xs: 480px;

	--font-dm-sans: DM Sans, sans-serif;
}

@layer base {
	body {
		font-family: "DM Sans", serif;
		font-optical-sizing: auto;
		background: #030014;
		min-height: 100vh;
	}

	h1 {
		@apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-6xl;
	}

	h2 {
		@apply text-2xl font-bold text-white sm:text-3xl;
	}

	header {
		@apply py-8 lg:py-10;
	}
}

@layer components {
	.wrapper {
		@apply px-5 max-w-7xl mx-auto;
	}

	.section {
		@apply py-8 lg:py-10;
	}

	.spinner {
		@apply p-6 mx-auto flex items-center justify-center text-lg;
	}

	.all-products {
		@apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
	}

	.product-card {
		@apply w-full bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10 text-white;

		& img {
			@apply rounded-lg w-full h-[200px] object-contain;
		}

		& h3 {
			@apply text-white font-bold text-base line-clamp-1;
		}
	}
}

@utility text-gradient {
	@apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
