@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #030014;
    --color-light-100: #cecefb;
    --color-light-200: #a8b5db;
    --color-gray-100: #9ca4ab;
    --color-dark-100: #0f0d23;

    --font-dm-sans: DM Sans, sans-serif;
}

@layer base {
    body {
        font-family: "DM Sans", serif;
        font-optical-sizing: auto;
        background: #030014;
    }

    h1 {
        @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-6xl;
    }

    h2 {
        @apply text-2xl font-bold text-white sm:text-3xl;
    }

    main {
        @apply min-h-screen relative bg-primary;
    }

    header {
        @apply py-4 lg:py-6;
    }
}

@layer components {
    .wrapper {
        @apply px-5 py-12 max-w-7xl mx-auto;
    }
}

@utility text-gradient {
    @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}